---
import BaseLayout from "../layouts/BaseLayout.astro";
import PeopleIcon from "../components/PeopleIcon.astro";
import ConfigIcon from "../components/ConfigIcon.astro";
import ChatIcon from "../components/ChatIcon.astro";
import InfinityIcon from "../components/InfinityIcon.astro";
---

<style>
  .div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    background-color: #01aa89;
    padding: 24px;
    gap: 24px;
    border-radius: 20px;
    grid-area: 1 / 1 / 4 / 3;
    color: #111;

    > h1 {
      font-weight: bold;
      font-size: 24px;
    }
    > p {
      padding: 20px;
      font-size: 12px;
    }
  }

  .div2 {
    border-radius: 20px;
    background-color: #abaddd;
    padding: 24px;
    grid-area: 1 / 3 / 4 / 4;
  }

  .div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 24px;
    background-color: #beed3a;
    grid-area: 1 / 4 / 3 / 5;

    > a {
      text-decoration: none;
      background-color: #2a27e2;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 12px 24px;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #3532e5;
      }
    }
  }

  .div4 {
    color: white;
    background-color: #2a27e2;
    border-radius: 20px;
    padding: 24px;
    grid-area: 3 / 4 / 6 / 5;

    > p {
      font-size: 13px;
    }
  }

  .div5 {
    border-radius: 20px;
    padding: 24px;
    background-color: #fafecf;
    grid-area: 4 / 1 / 6 / 2;
  }

  .div6 {
    border-radius: 20px;
    padding: 24px;
    background-color: #feebcf;
    grid-area: 4 / 2 / 6 / 3;
  }

  .div7 {
    border-radius: 20px;
    padding: 24px;
    background-color: #fed2cf;
    grid-area: 4 / 3 / 6 / 4;
  }

  p {
    font-size: 14px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  @media (max-width: 1048px) {
    .div5 {
      grid-area: 6 / 1 / 8 / 2;
    }
    .div6 {
      grid-area: 8 / 1 / 10 / 2;
    }
    .div7 {
      grid-area: 4 / 1 / 6 / 2;
    }
    .div1 {
      grid-area: 1 / 1 / 4 / 2;
    }
    .div2 {
      grid-area: 1 / 2 / 4 / 3;
    }
    .div4 {
      grid-area: 4 / 2 / 7 / 3;
    }
    .div3 {
      grid-area: 7 / 2 / 10 / 3;
    }
  }

  .div5,
  .div6,
  .div7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
  @media (max-width: 768px) {
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7 {
      margin-bottom: 16px;
      min-height: unset;
      max-height: unset;
    }

    .div1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 16px;
      min-height: unset;
      max-height: unset;

      > h1 {
        font-weight: bold;
        font-size: 24px;
      }
      > p {
        padding: unset;
        text-align: justify;
        font-size: 14px;
      }
    }
  }
</style>

<BaseLayout>
  <div class="div1">
    <h1>HI! I'M BENJAMIN MIRANDA, SOFTWARE ENGINEER BASED IN CHILE.</h1>
    <p>
      As a <b>Software Developer</b>, I specialize in Typescript and frameworks
      like NodeJS, Angular, and Next.js, with a focus on front-end development
      <b>My experience covers a spectrum </b> from full-stack development to leading
      projects in <b> education, fintech, insurances, ong, and government.</b>
      I'm comitted to innovation and efficiency.<b> My work spans
      diverse sectors, showcasing adaptability</b> and a drive for impactful
      technology solutions.
    </p>
  </div>
  <div class="div2">
    <h2>Currently</h2>
    <h4>Improving Bice Vida Client Experience</h4>
    <p>
      Participated in experience sprints with the team and UI/UX studies with
      product designers to rebuild the home experience for Bice Vida clients,
      enhancing user satisfaction and engagement. <b>And a lot of coding</b>.
    </p>
    <p>Building and coding new home experience.</p>
    <p>Building and coding an insurance renewal journey.</p>
  </div>
  <div class="div5">
    <InfinityIcon />

    <b>Complex System Integrations</b>
    <p>
      Managed Amicar's integration with nine financial entities, ensuring
      seamless communication and efficient data exchange processes.
    </p>
  </div>

  <div class="div6">
    <ConfigIcon />
    <b>Migration to Micro Frontend Architecture</b>
    <p>
      Led Upmetrics' shift to a micro frontend architecture, enhancing
      scalability and update efficiency, requiring careful planning.
    </p>
  </div>

  <div class="div7">
    <PeopleIcon />

    <b>Leading Agile Transformation</b>
    <p>
      Championed the adoption of agile methodologies within development teams at
      Amicar and Fixe, enhancing project management and collaboration.
    </p>
  </div>

  <div class="div4">
    <h2>Past Experiences</h2>
    <p><b>Bicevida</b> - Developer, 2023 to Present</p>
    <p><b>Upmetrics</b> - FullStack Developer, 2022 to 2023</p>
    <p><b>Amicar</b> - FullStack Developer, 2021 to 2023</p>
    <p><b>Fixe</b> - FrontEnd Developer, 2020 to 2021</p>
    <p><b>Opencluster SpA</b> - Full Stack Developer, 2017 to 2020</p>
  </div>

  <div class="div3">
    <ChatIcon size="64px" />
    <h1>Wanna Talk?</h1>
    <a href="https://wa.me/+56977743420" target="_blank">Send me a message</a>
  </div>
</BaseLayout>
